<a href="https://colab.research.google.com/github/resh1604/SIT742/blob/master/Part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install wget

Collecting wget
  Downloading https://files.pythonhosted.org/packages/47/6a/62e288da7bcda82b935ff0c6cfe542970f04e29c756b0e147251b2fb251f/wget-3.2.zip
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/40/15/30/7d8f7cea2902b4db79e3fea550d7d7b85ecb27ef992b618f3f
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [0]:
import wget

link_to_data = 'https://github.com/tulip-lab/sit742/raw/master/Assessment/2019/data/wine.json'
DataSet = wget.download(link_to_data)

link_to_data = 'https://github.com/tulip-lab/sit742/raw/master/Assessment/2019/data/stopwords.txt'

DataSet = wget.download(link_to_data)

In [3]:
!ls

sample_data  stopwords.txt  wine.json

In [0]:
import json
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
file = 'wine.json'

In [0]:
df = pd.read_json(file, orient='columns')
#df.head(10)
#print(df)
#print(df.to_json(orient='index', lines='True'))
df

In [0]:
#df = df[(df['points']=='NaN') & (df['price']=='NaN')]
#df = df.loc[~((df['points'] == NaN) | (df['price'] == NaN))]
df2 = df.dropna(subset=['price', 'points'])

In [9]:
#df2.describe()
#df2.describe(include ='all')
df2.points.describe()

count    120975.000000
mean         88.421881
std           3.044508
min          80.000000
25%          86.000000
50%          88.000000
75%          91.000000
max         100.000000
Name: points, dtype: float64

In [0]:
df2.price.describe()

count    120975.000000
mean         35.363389
std          41.022218
min           4.000000
25%          17.000000
50%          25.000000
75%          42.000000
max        3300.000000
Name: price, dtype: float64

In [0]:
#df[df.points > 80].sort_values['variety'].head(10)
df2.nlargest(10, 'points')

In [11]:
df2['variety'].value_counts().head(10)

Pinot Noir                  12787
Chardonnay                  11080
Cabernet Sauvignon           9386
Red Blend                    8476
Bordeaux-style Red Blend     5340
Riesling                     4972
Sauvignon Blanc              4783
Syrah                        4086
Rosé                         3262
Merlot                       3062
Name: variety, dtype: int64

In [13]:
ans = df2.sort_values('variety')
ans['variety'].value_counts()[:10]
#ans

Pinot Noir                  12787
Chardonnay                  11080
Cabernet Sauvignon           9386
Red Blend                    8476
Bordeaux-style Red Blend     5340
Riesling                     4972
Sauvignon Blanc              4783
Syrah                        4086
Rosé                         3262
Merlot                       3062
Name: variety, dtype: int64

In [0]:
#group = df2.groupby(['variety'])[['variety','points','price']]
#group.head()

#group = df2.groupby(['points','price','variety'])['variety'].count()
#group.head(10)

#data = list(df2['points'].groupby(df2['variety']))

data= df2.groupby('variety')[['points','price']].mean()
data

#data2 = data[data['price']<20 & (data['points']>=90)]
#data2

data2 = data[(data["price"]<20) & (data["points"] >=90)]
data2