<a href="https://colab.research.google.com/github/resh1604/SIT742/blob/master/SIT742BankAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SIT742: Modern Data Science 
**(Assessment Task 02: Bank Marketing Data Analytics)**

---
- Materials in this module include resources collected from various open-source online repositories.
- You are free to use, change and distribute this package.

Prepared by **SIT742 Teaching Team**


---

**Project Group Information:**

- Names:
- Student IDs:
- Emails:

---

## 1. Import Spark

In [74]:
#!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#!wget -q http://www-us.apache.org/dist/spark/spark-2.4.0/spark-2.4.0-bin-hadoop2.7.tgz
#!tar xf spark-2.4.0-bin-hadoop2.7.tgz
#!pip install -q findspark

#import os
#os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
#os.environ["SPARK_HOME"] = "/content/spark-2.4.0-bin-hadoop2.7"

!pip install wget
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-2.4.0/spark-2.4.0-bin-hadoop2.7.tgz
!tar xf spark-2.4.0-bin-hadoop2.7.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.0-bin-hadoop2.7"

Requirement already satisfied: wget in /usr/local/lib/python3.6/dist-packages (3.2)

In [0]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

## 2. Read and check data

In [76]:
!pip install wget

Requirement already satisfied: wget in /usr/local/lib/python3.6/dist-packages (3.2)

In [0]:
import wget

link_to_data = 'https://github.com/tulip-lab/sit742/raw/master/Assessment/2019/data/bank.csv'
DataSet = wget.download(link_to_data)

In [78]:
!ls

'bank (1).csv'	 spark-2.4.0-bin-hadoop2.7
'bank (2).csv'	 spark-2.4.0-bin-hadoop2.7.tgz
'bank (3).csv'	 spark-2.4.0-bin-hadoop2.7.tgz.1
'bank (4).csv'	 spark-2.4.0-bin-hadoop2.7.tgz.2
'bank (5).csv'	 spark-2.4.0-bin-hadoop2.7.tgz.3
'bank (6).csv'	 spark-2.4.0-bin-hadoop2.7.tgz.4
 bank.csv	 spark-2.4.0-bin-hadoop2.7.tgz.5
 sample_data	 spark-2.4.0-bin-hadoop2.7.tgz.6

In [79]:
spark = SparkSession.builder.appName('ml-bank').getOrCreate()

from pyspark.sql.types import StructType, StructField
from pyspark.sql.types import DoubleType, IntegerType, StringType

schema = StructType([
    StructField("age", IntegerType()),
    StructField("job", StringType()),
    StructField("marital", StringType()),
    StructField("education", StringType()),
    StructField("default", StringType()),
    StructField("balance", IntegerType()),
    StructField("housing", StringType()),
    StructField("contact", StringType()),
    StructField("day", IntegerType()),
    StructField("month", StringType()),
    StructField("duration", IntegerType()),
    StructField("campaign", IntegerType()),
    StructField("pdays", IntegerType()),
    StructField("previous", IntegerType()),
    StructField("poutcome", StringType()),
    StructField("deposit", StringType())
])

# Import the 'bank.csv' as a Spark dataframe and name it as df
df = spark.read.format("csv").\
        option("header", "true").\
            load("bank.csv")
        
df = df.withColumn("age", df["age"].cast(IntegerType()))
df = df.withColumn("balance", df["balance"].cast(IntegerType()))
df = df.withColumn("day", df["day"].cast(IntegerType()))
df = df.withColumn("duration", df["duration"].cast(IntegerType()))
df = df.withColumn("campaign", df["campaign"].cast(IntegerType()))
df = df.withColumn("pdays", df["pdays"].cast(IntegerType()))
df = df.withColumn("previous", df["previous"].cast(IntegerType()))

df

DataFrame[age: int, job: string, marital: string, education: string, default: string, balance: int, housing: string, loan: string, contact: string, day: int, month: string, duration: int, campaign: int, pdays: int, previous: int, poutcome: string, deposit: string]

In [80]:
df.head(1)

[Row(age=59, job='admin.', marital='married', education='secondary', default='no', balance=2343, housing='yes', loan='no', contact='unknown', day=5, month='may', duration=1042, campaign=1, pdays=-1, previous=0, poutcome='unknown', deposit='yes')]

In [81]:
# check data distribution
# you may use printSchema() 
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- deposit: string (nullable = true)

## 3. Select features

In [82]:
# select features ('age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'campaign', 'pdays', 'previous', 'poutcome', 'deposit') as df2
columns = ['age',
           'job', 
           'marital',
           'education',
           'default', 
           'balance', 
           'housing',
           'loan',
           'campaign',
           'pdays', 
           'previous',
           'poutcome',
           'deposit']
df2 = df.select([c for c in df.columns if c in columns])
df2.head(1)

[Row(age=59, job='admin.', marital='married', education='secondary', default='no', balance=2343, housing='yes', loan='no', campaign=1, pdays=-1, previous=0, poutcome='unknown', deposit='yes')]

In [0]:
# remove invalid rows/records using spark.sql 
df2 = df2.na.drop()

In [84]:
# convert categorical features to numeric features  using One hot encoding, 
from pyspark.ml import Pipeline

from pyspark.ml.feature import StringIndexer, OneHotEncoderEstimator, VectorAssembler, OneHotEncoder

cols = ["job", 
        "marital",
        "education",
        "default",
        "housing",
        "loan",
        "poutcome",
        "deposit"]

for col in cols:
  stringIndexer = StringIndexer(inputCol=col, outputCol="{}Index".format(col))
  model = stringIndexer.fit(df2)
  indexed = model.transform(df2)

  encoder = OneHotEncoder(inputCol="{}Index".format(col), outputCol="{}Vec".format(col))
  df2 = encoder.transform(indexed)
  
df2.show(30)

+---+-----------+--------+---------+-------+-------+-------+----+--------+-----+--------+--------+-------+--------+--------------+------------+-------------+--------------+-------------+------------+-------------+------------+-------------+---------+-------------+-------------+-------------+------------+----------+
|age|        job| marital|education|default|balance|housing|loan|campaign|pdays|previous|poutcome|deposit|jobIndex|        jobVec|maritalIndex|   maritalVec|educationIndex| educationVec|defaultIndex|   defaultVec|housingIndex|   housingVec|loanIndex|      loanVec|poutcomeIndex|  poutcomeVec|depositIndex|depositVec|
+---+-----------+--------+---------+-------+-------+-------+----+--------+-----+--------+--------+-------+--------+--------------+------------+-------------+--------------+-------------+------------+-------------+------------+-------------+---------+-------------+-------------+-------------+------------+----------+
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|       1|   -1|       0| unknown|    yes|     3.0|(11,[3],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 56|     admin.| married|secondary|     no|     45|     no|  no|       1|   -1|       0| unknown|    yes|     3.0|(11,[3],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         0.0|(1,[0],[1.0])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 41| technician| married|secondary|     no|   1270|    yes|  no|       1|   -1|       0| unknown|    yes|     2.0|(11,[2],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 55|   services| married|secondary|     no|   2476|    yes|  no|       1|   -1|       0| unknown|    yes|     4.0|(11,[4],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|       2|   -1|       0| unknown|    yes|     3.0|(11,[3],[1.0])|         0.0|(2,[0],[1.0])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         0.0|(1,[0],[1.0])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 42| management|  single| tertiary|     no|      0|    yes| yes|       2|   -1|       0| unknown|    yes|     0.0|(11,[0],[1.0])|         1.0|(2,[1],[1.0])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      1.0|    (1,[],[])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 56| management| married| tertiary|     no|    830|    yes| yes|       1|   -1|       0| unknown|    yes|     0.0|(11,[0],[1.0])|         0.0|(2,[0],[1.0])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      1.0|    (1,[],[])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|       1|   -1|       0| unknown|    yes|     5.0|(11,[5],[1.0])|         2.0|    (2,[],[])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 37| technician| married|secondary|     no|      1|    yes|  no|       1|   -1|       0| unknown|    yes|     2.0|(11,[2],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|       3|   -1|       0| unknown|    yes|     4.0|(11,[4],[1.0])|         1.0|(2,[1],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|       1|   -1|       0| unknown|    yes|     3.0|(11,[3],[1.0])|         1.0|(2,[1],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|       2|   -1|       0| unknown|    yes|     1.0|(11,[1],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 29| management| married| tertiary|     no|    199|    yes| yes|       4|   -1|       0| unknown|    yes|     0.0|(11,[0],[1.0])|         0.0|(2,[0],[1.0])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      1.0|    (1,[],[])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|       2|   -1|       0| unknown|    yes|     1.0|(11,[1],[1.0])|         1.0|(2,[1],[1.0])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|       2|   -1|       0| unknown|    yes|     2.0|(11,[2],[1.0])|         1.0|(2,[1],[1.0])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 35| management|divorced| tertiary|     no|   3837|    yes|  no|       1|   -1|       0| unknown|    yes|     0.0|(11,[0],[1.0])|         2.0|    (2,[],[])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|       3|   -1|       0| unknown|    yes|     1.0|(11,[1],[1.0])|         1.0|(2,[1],[1.0])|           2.0|(3,[2],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 49|   services| married|secondary|     no|     -8|    yes|  no|       1|   -1|       0| unknown|    yes|     4.0|(11,[4],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 41|     admin.| married|secondary|     no|     55|    yes|  no|       2|   -1|       0| unknown|    yes|     3.0|(11,[3],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 49|     admin.|divorced|secondary|     no|    168|    yes| yes|       1|   -1|       0| unknown|    yes|     3.0|(11,[3],[1.0])|         2.0|    (2,[],[])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      1.0|    (1,[],[])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 28|     admin.|divorced|secondary|     no|    785|    yes|  no|       2|   -1|       0| unknown|    yes|     3.0|(11,[3],[1.0])|         2.0|    (2,[],[])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 43| management|  single| tertiary|     no|   2067|    yes|  no|       1|   -1|       0| unknown|    yes|     0.0|(11,[0],[1.0])|         1.0|(2,[1],[1.0])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 43| management|divorced| tertiary|     no|    388|    yes|  no|       2|   -1|       0| unknown|    yes|     0.0|(11,[0],[1.0])|         2.0|    (2,[],[])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 43|blue-collar| married|  primary|     no|   -192|    yes|  no|       2|   -1|       0| unknown|    yes|     1.0|(11,[1],[1.0])|         0.0|(2,[0],[1.0])|           2.0|(3,[2],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 37| unemployed|  single|secondary|     no|    381|    yes|  no|       2|   -1|       0| unknown|    yes|     8.0|(11,[8],[1.0])|         1.0|(2,[1],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 35|blue-collar|  single|secondary|     no|     40|    yes|  no|       4|   -1|       0| unknown|    yes|     1.0|(11,[1],[1.0])|         1.0|(2,[1],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 31| technician|  single| tertiary|     no|     22|    yes|  no|       3|   -1|       0| unknown|    yes|     2.0|(11,[2],[1.0])|         1.0|(2,[1],[1.0])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 43|blue-collar|  single|secondary|     no|      3|    yes|  no|       3|   -1|       0| unknown|    yes|     1.0|(11,[1],[1.0])|         1.0|(2,[1],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 31|     admin.| married|secondary|     no|    307|    yes|  no|       1|   -1|       0| unknown|    yes|     3.0|(11,[3],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
| 28|blue-collar|  single|secondary|     no|    759|    yes|  no|       1|   -1|       0| unknown|    yes|     1.0|(11,[1],[1.0])|         1.0|(2,[1],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|
+---+-----------+--------+---------+-------+-------+-------+----+--------+-----+--------+--------+-------+--------+--------------+------------+-------------+--------------+-------------+------------+-------------+------------+-------------+---------+-------------+-------------+-------------+------------+----------+
only showing top 30 rows

### 3.1 normalisation

In [85]:
numeric_variables = [
    'age',
    'balance',
    'pdays',
    'previous'
]


vecAssembler = VectorAssembler(inputCols=numeric_variables, outputCol="nums")
df2 = vecAssembler.transform(df2)
df2.show(30)

+---+-----------+--------+---------+-------+-------+-------+----+--------+-----+--------+--------+-------+--------+--------------+------------+-------------+--------------+-------------+------------+-------------+------------+-------------+---------+-------------+-------------+-------------+------------+----------+--------------------+
|age|        job| marital|education|default|balance|housing|loan|campaign|pdays|previous|poutcome|deposit|jobIndex|        jobVec|maritalIndex|   maritalVec|educationIndex| educationVec|defaultIndex|   defaultVec|housingIndex|   housingVec|loanIndex|      loanVec|poutcomeIndex|  poutcomeVec|depositIndex|depositVec|                nums|
+---+-----------+--------+---------+-------+-------+-------+----+--------+-----+--------+--------+-------+--------+--------------+------------+-------------+--------------+-------------+------------+-------------+------------+-------------+---------+-------------+-------------+-------------+------------+----------+--------------------+
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|       1|   -1|       0| unknown|    yes|     3.0|(11,[3],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[59.0,2343.0,-1.0...|
| 56|     admin.| married|secondary|     no|     45|     no|  no|       1|   -1|       0| unknown|    yes|     3.0|(11,[3],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         0.0|(1,[0],[1.0])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[56.0,45.0,-1.0,0.0]|
| 41| technician| married|secondary|     no|   1270|    yes|  no|       1|   -1|       0| unknown|    yes|     2.0|(11,[2],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[41.0,1270.0,-1.0...|
| 55|   services| married|secondary|     no|   2476|    yes|  no|       1|   -1|       0| unknown|    yes|     4.0|(11,[4],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[55.0,2476.0,-1.0...|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|       2|   -1|       0| unknown|    yes|     3.0|(11,[3],[1.0])|         0.0|(2,[0],[1.0])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         0.0|(1,[0],[1.0])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[54.0,184.0,-1.0,...|
| 42| management|  single| tertiary|     no|      0|    yes| yes|       2|   -1|       0| unknown|    yes|     0.0|(11,[0],[1.0])|         1.0|(2,[1],[1.0])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      1.0|    (1,[],[])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])| [42.0,0.0,-1.0,0.0]|
| 56| management| married| tertiary|     no|    830|    yes| yes|       1|   -1|       0| unknown|    yes|     0.0|(11,[0],[1.0])|         0.0|(2,[0],[1.0])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      1.0|    (1,[],[])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[56.0,830.0,-1.0,...|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|       1|   -1|       0| unknown|    yes|     5.0|(11,[5],[1.0])|         2.0|    (2,[],[])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[60.0,545.0,-1.0,...|
| 37| technician| married|secondary|     no|      1|    yes|  no|       1|   -1|       0| unknown|    yes|     2.0|(11,[2],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])| [37.0,1.0,-1.0,0.0]|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|       3|   -1|       0| unknown|    yes|     4.0|(11,[4],[1.0])|         1.0|(2,[1],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[28.0,5090.0,-1.0...|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|       1|   -1|       0| unknown|    yes|     3.0|(11,[3],[1.0])|         1.0|(2,[1],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[38.0,100.0,-1.0,...|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|       2|   -1|       0| unknown|    yes|     1.0|(11,[1],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[30.0,309.0,-1.0,...|
| 29| management| married| tertiary|     no|    199|    yes| yes|       4|   -1|       0| unknown|    yes|     0.0|(11,[0],[1.0])|         0.0|(2,[0],[1.0])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      1.0|    (1,[],[])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[29.0,199.0,-1.0,...|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|       2|   -1|       0| unknown|    yes|     1.0|(11,[1],[1.0])|         1.0|(2,[1],[1.0])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[46.0,460.0,-1.0,...|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|       2|   -1|       0| unknown|    yes|     2.0|(11,[2],[1.0])|         1.0|(2,[1],[1.0])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[31.0,703.0,-1.0,...|
| 35| management|divorced| tertiary|     no|   3837|    yes|  no|       1|   -1|       0| unknown|    yes|     0.0|(11,[0],[1.0])|         2.0|    (2,[],[])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[35.0,3837.0,-1.0...|
| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|       3|   -1|       0| unknown|    yes|     1.0|(11,[1],[1.0])|         1.0|(2,[1],[1.0])|           2.0|(3,[2],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[32.0,611.0,-1.0,...|
| 49|   services| married|secondary|     no|     -8|    yes|  no|       1|   -1|       0| unknown|    yes|     4.0|(11,[4],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[49.0,-8.0,-1.0,0.0]|
| 41|     admin.| married|secondary|     no|     55|    yes|  no|       2|   -1|       0| unknown|    yes|     3.0|(11,[3],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[41.0,55.0,-1.0,0.0]|
| 49|     admin.|divorced|secondary|     no|    168|    yes| yes|       1|   -1|       0| unknown|    yes|     3.0|(11,[3],[1.0])|         2.0|    (2,[],[])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      1.0|    (1,[],[])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[49.0,168.0,-1.0,...|
| 28|     admin.|divorced|secondary|     no|    785|    yes|  no|       2|   -1|       0| unknown|    yes|     3.0|(11,[3],[1.0])|         2.0|    (2,[],[])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[28.0,785.0,-1.0,...|
| 43| management|  single| tertiary|     no|   2067|    yes|  no|       1|   -1|       0| unknown|    yes|     0.0|(11,[0],[1.0])|         1.0|(2,[1],[1.0])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[43.0,2067.0,-1.0...|
| 43| management|divorced| tertiary|     no|    388|    yes|  no|       2|   -1|       0| unknown|    yes|     0.0|(11,[0],[1.0])|         2.0|    (2,[],[])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[43.0,388.0,-1.0,...|
| 43|blue-collar| married|  primary|     no|   -192|    yes|  no|       2|   -1|       0| unknown|    yes|     1.0|(11,[1],[1.0])|         0.0|(2,[0],[1.0])|           2.0|(3,[2],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[43.0,-192.0,-1.0...|
| 37| unemployed|  single|secondary|     no|    381|    yes|  no|       2|   -1|       0| unknown|    yes|     8.0|(11,[8],[1.0])|         1.0|(2,[1],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[37.0,381.0,-1.0,...|
| 35|blue-collar|  single|secondary|     no|     40|    yes|  no|       4|   -1|       0| unknown|    yes|     1.0|(11,[1],[1.0])|         1.0|(2,[1],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[35.0,40.0,-1.0,0.0]|
| 31| technician|  single| tertiary|     no|     22|    yes|  no|       3|   -1|       0| unknown|    yes|     2.0|(11,[2],[1.0])|         1.0|(2,[1],[1.0])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[31.0,22.0,-1.0,0.0]|
| 43|blue-collar|  single|secondary|     no|      3|    yes|  no|       3|   -1|       0| unknown|    yes|     1.0|(11,[1],[1.0])|         1.0|(2,[1],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])| [43.0,3.0,-1.0,0.0]|
| 31|     admin.| married|secondary|     no|    307|    yes|  no|       1|   -1|       0| unknown|    yes|     3.0|(11,[3],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[31.0,307.0,-1.0,...|
| 28|blue-collar|  single|secondary|     no|    759|    yes|  no|       1|   -1|       0| unknown|    yes|     1.0|(11,[1],[1.0])|         1.0|(2,[1],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[28.0,759.0,-1.0,...|
+---+-----------+--------+---------+-------+-------+-------+----+--------+-----+--------+--------+-------+--------+--------------+------------+-------------+--------------+-------------+------------+-------------+------------+-------------+---------+-------------+-------------+-------------+------------+----------+--------------------+
only showing top 30 rows

In [86]:
# then apply Min-Max normalisation on each attribute using MinMaxScaler  
from pyspark.ml.feature import MinMaxScaler
  
scaler = MinMaxScaler(inputCol="nums", outputCol="scaledNums")

# Compute summary statistics and generate MinMaxScalerModel
scalerModel = scaler.fit(df2)

# rescale each feature to range [min, max].
df2 = scalerModel.transform(df2)

df2.show(30)

+---+-----------+--------+---------+-------+-------+-------+----+--------+-----+--------+--------+-------+--------+--------------+------------+-------------+--------------+-------------+------------+-------------+------------+-------------+---------+-------------+-------------+-------------+------------+----------+--------------------+--------------------+
|age|        job| marital|education|default|balance|housing|loan|campaign|pdays|previous|poutcome|deposit|jobIndex|        jobVec|maritalIndex|   maritalVec|educationIndex| educationVec|defaultIndex|   defaultVec|housingIndex|   housingVec|loanIndex|      loanVec|poutcomeIndex|  poutcomeVec|depositIndex|depositVec|                nums|          scaledNums|
+---+-----------+--------+---------+-------+-------+-------+----+--------+-----+--------+--------+-------+--------+--------------+------------+-------------+--------------+-------------+------------+-------------+------------+-------------+---------+-------------+-------------+-------------+------------+----------+--------------------+--------------------+
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|       1|   -1|       0| unknown|    yes|     3.0|(11,[3],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[59.0,2343.0,-1.0...|[0.53246753246753...|
| 56|     admin.| married|secondary|     no|     45|     no|  no|       1|   -1|       0| unknown|    yes|     3.0|(11,[3],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         0.0|(1,[0],[1.0])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[56.0,45.0,-1.0,0.0]|[0.49350649350649...|
| 41| technician| married|secondary|     no|   1270|    yes|  no|       1|   -1|       0| unknown|    yes|     2.0|(11,[2],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[41.0,1270.0,-1.0...|[0.29870129870129...|
| 55|   services| married|secondary|     no|   2476|    yes|  no|       1|   -1|       0| unknown|    yes|     4.0|(11,[4],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[55.0,2476.0,-1.0...|[0.48051948051948...|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|       2|   -1|       0| unknown|    yes|     3.0|(11,[3],[1.0])|         0.0|(2,[0],[1.0])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         0.0|(1,[0],[1.0])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[54.0,184.0,-1.0,...|[0.46753246753246...|
| 42| management|  single| tertiary|     no|      0|    yes| yes|       2|   -1|       0| unknown|    yes|     0.0|(11,[0],[1.0])|         1.0|(2,[1],[1.0])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      1.0|    (1,[],[])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])| [42.0,0.0,-1.0,0.0]|[0.31168831168831...|
| 56| management| married| tertiary|     no|    830|    yes| yes|       1|   -1|       0| unknown|    yes|     0.0|(11,[0],[1.0])|         0.0|(2,[0],[1.0])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      1.0|    (1,[],[])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[56.0,830.0,-1.0,...|[0.49350649350649...|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|       1|   -1|       0| unknown|    yes|     5.0|(11,[5],[1.0])|         2.0|    (2,[],[])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[60.0,545.0,-1.0,...|[0.54545454545454...|
| 37| technician| married|secondary|     no|      1|    yes|  no|       1|   -1|       0| unknown|    yes|     2.0|(11,[2],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])| [37.0,1.0,-1.0,0.0]|[0.24675324675324...|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|       3|   -1|       0| unknown|    yes|     4.0|(11,[4],[1.0])|         1.0|(2,[1],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[28.0,5090.0,-1.0...|[0.12987012987012...|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|       1|   -1|       0| unknown|    yes|     3.0|(11,[3],[1.0])|         1.0|(2,[1],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[38.0,100.0,-1.0,...|[0.25974025974025...|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|       2|   -1|       0| unknown|    yes|     1.0|(11,[1],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[30.0,309.0,-1.0,...|[0.15584415584415...|
| 29| management| married| tertiary|     no|    199|    yes| yes|       4|   -1|       0| unknown|    yes|     0.0|(11,[0],[1.0])|         0.0|(2,[0],[1.0])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      1.0|    (1,[],[])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[29.0,199.0,-1.0,...|[0.14285714285714...|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|       2|   -1|       0| unknown|    yes|     1.0|(11,[1],[1.0])|         1.0|(2,[1],[1.0])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[46.0,460.0,-1.0,...|[0.36363636363636...|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|       2|   -1|       0| unknown|    yes|     2.0|(11,[2],[1.0])|         1.0|(2,[1],[1.0])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[31.0,703.0,-1.0,...|[0.16883116883116...|
| 35| management|divorced| tertiary|     no|   3837|    yes|  no|       1|   -1|       0| unknown|    yes|     0.0|(11,[0],[1.0])|         2.0|    (2,[],[])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[35.0,3837.0,-1.0...|[0.22077922077922...|
| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|       3|   -1|       0| unknown|    yes|     1.0|(11,[1],[1.0])|         1.0|(2,[1],[1.0])|           2.0|(3,[2],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[32.0,611.0,-1.0,...|[0.18181818181818...|
| 49|   services| married|secondary|     no|     -8|    yes|  no|       1|   -1|       0| unknown|    yes|     4.0|(11,[4],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[49.0,-8.0,-1.0,0.0]|[0.40259740259740...|
| 41|     admin.| married|secondary|     no|     55|    yes|  no|       2|   -1|       0| unknown|    yes|     3.0|(11,[3],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[41.0,55.0,-1.0,0.0]|[0.29870129870129...|
| 49|     admin.|divorced|secondary|     no|    168|    yes| yes|       1|   -1|       0| unknown|    yes|     3.0|(11,[3],[1.0])|         2.0|    (2,[],[])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      1.0|    (1,[],[])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[49.0,168.0,-1.0,...|[0.40259740259740...|
| 28|     admin.|divorced|secondary|     no|    785|    yes|  no|       2|   -1|       0| unknown|    yes|     3.0|(11,[3],[1.0])|         2.0|    (2,[],[])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[28.0,785.0,-1.0,...|[0.12987012987012...|
| 43| management|  single| tertiary|     no|   2067|    yes|  no|       1|   -1|       0| unknown|    yes|     0.0|(11,[0],[1.0])|         1.0|(2,[1],[1.0])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[43.0,2067.0,-1.0...|[0.32467532467532...|
| 43| management|divorced| tertiary|     no|    388|    yes|  no|       2|   -1|       0| unknown|    yes|     0.0|(11,[0],[1.0])|         2.0|    (2,[],[])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[43.0,388.0,-1.0,...|[0.32467532467532...|
| 43|blue-collar| married|  primary|     no|   -192|    yes|  no|       2|   -1|       0| unknown|    yes|     1.0|(11,[1],[1.0])|         0.0|(2,[0],[1.0])|           2.0|(3,[2],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[43.0,-192.0,-1.0...|[0.32467532467532...|
| 37| unemployed|  single|secondary|     no|    381|    yes|  no|       2|   -1|       0| unknown|    yes|     8.0|(11,[8],[1.0])|         1.0|(2,[1],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[37.0,381.0,-1.0,...|[0.24675324675324...|
| 35|blue-collar|  single|secondary|     no|     40|    yes|  no|       4|   -1|       0| unknown|    yes|     1.0|(11,[1],[1.0])|         1.0|(2,[1],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[35.0,40.0,-1.0,0.0]|[0.22077922077922...|
| 31| technician|  single| tertiary|     no|     22|    yes|  no|       3|   -1|       0| unknown|    yes|     2.0|(11,[2],[1.0])|         1.0|(2,[1],[1.0])|           1.0|(3,[1],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[31.0,22.0,-1.0,0.0]|[0.16883116883116...|
| 43|blue-collar|  single|secondary|     no|      3|    yes|  no|       3|   -1|       0| unknown|    yes|     1.0|(11,[1],[1.0])|         1.0|(2,[1],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])| [43.0,3.0,-1.0,0.0]|[0.32467532467532...|
| 31|     admin.| married|secondary|     no|    307|    yes|  no|       1|   -1|       0| unknown|    yes|     3.0|(11,[3],[1.0])|         0.0|(2,[0],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[31.0,307.0,-1.0,...|[0.16883116883116...|
| 28|blue-collar|  single|secondary|     no|    759|    yes|  no|       1|   -1|       0| unknown|    yes|     1.0|(11,[1],[1.0])|         1.0|(2,[1],[1.0])|           0.0|(3,[0],[1.0])|         0.0|(1,[0],[1.0])|         1.0|    (1,[],[])|      0.0|(1,[0],[1.0])|          0.0|(3,[0],[1.0])|         1.0| (1,[],[])|[28.0,759.0,-1.0,...|[0.12987012987012...|
+---+-----------+--------+---------+-------+-------+-------+----+--------+-----+--------+--------+-------+--------+--------------+------------+-------------+--------------+-------------+------------+-------------+------------+-------------+---------+-------------+-------------+-------------+------------+----------+--------------------+--------------------+
only showing top 30 rows

## 4. Unsupervised learning

### 4.1 K-means

In [88]:
df2 = df2.selectExpr('scaledNums as features')
df2.show()

+--------------------+
|            features|
+--------------------+
|[0.53246753246753...|
|[0.49350649350649...|
|[0.29870129870129...|
|[0.48051948051948...|
|[0.46753246753246...|
|[0.31168831168831...|
|[0.49350649350649...|
|[0.54545454545454...|
|[0.24675324675324...|
|[0.12987012987012...|
|[0.25974025974025...|
|[0.15584415584415...|
|[0.14285714285714...|
|[0.36363636363636...|
|[0.16883116883116...|
|[0.22077922077922...|
|[0.18181818181818...|
|[0.40259740259740...|
|[0.29870129870129...|
|[0.40259740259740...|
+--------------------+
only showing top 20 rows

In [89]:
# Perform unsupervised learning on df2 with k-means 
# you can use whole df2 as both training and testing data, 
# evaluate the clustering result using Accuracy.  

from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.evaluation import BinaryClassificationEvaluator


# Trains a k-means model.
kmeans = KMeans().setK(2).setSeed(1)
model = kmeans.fit(df2)

# Make predictions
predictions = model.transform(df2)

# Evaluate clustering by computing Silhouette score
evaluator = ClusteringEvaluator()

silhouette = evaluator.evaluate(predictions)
print("Silhouette with squared euclidean distance = " + str(silhouette))

# Shows the result.
centers = model.clusterCenters()
print("Cluster Centers: ")
for center in centers:
    print(center)

Silhouette with squared euclidean distance = 0.5585376851872408
Cluster Centers:
[0.47145453 0.09911939 0.05347191 0.01343832]
[0.20494051 0.09284213 0.06561405 0.01487672]

### 4.2 PCA

In [90]:
# generate a scatter plot using the first two PCA components to investigate the data distribution.
 
from pyspark.ml.feature import PCA, StandardScaler
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

standardizer = StandardScaler(withMean=True, withStd=True,
                              inputCol='features',
                              outputCol='std_features')
model = standardizer.fit(df2)
df2 = model.transform(df2)

pca = PCA(k=2, inputCol="std_features", outputCol="pcaFeatures")
model = pca.fit(df2)

result = model.transform(df2).select("pcaFeatures")
result.show(truncate=False)

+------------------------------------------+
|pcaFeatures                               |
+------------------------------------------+
|[0.5024480111418868,1.2876640294358876]   |
|[0.5696986581689144,0.6104554195913101]   |
|[0.6016201800130624,-0.014764689663041394]|
|[0.5155958010388783,1.0788875953172095]   |
|[0.5745372759476424,0.521809213003675]    |
|[0.6279346675693007,-0.23110756666275342] |
|[0.5509097950203947,0.7809033950435555]   |
|[0.541400103465537,0.956675889966385]     |
|[0.6483246401447347,-0.5279590366276407]  |
|[0.5632651836351033,0.04229805083768032]  |
|[0.6418723077642554,-0.4470493296857937]  |
|[0.6695321744365385,-0.8769786751215933]  |
|[0.6762477902496722,-0.9602768250315613]  |
|[0.6005935071664849,0.10642765655551936]  |
|[0.6560190590894179,-0.7320152703983291]  |
|[0.5646760896940652,0.18612872525217847]  |
|[0.6541382844941198,-0.6925776186302129]  |
|[0.5995466760232857,0.1830514255072168]   |
|[0.6307010318926183,-0.2785790720509119]  |
|[0.5953341411008151,0.22126651299714692]  |
+------------------------------------------+
only showing top 20 rows

## 5. Supervised learning

In [92]:
df2 = df2.selectExpr('scaledNums as features', 'poutcomeIndex as label')
df2.show()

AnalysisException: ignored

In [0]:
train, test = df2.randomSplit([0.7, 0.3], seed = 742)
print("Training Dataset Count: " + str(train.count()))
print("Test Dataset Count: " + str(test.count()))

Training Dataset Count: 7822
Test Dataset Count: 3340

### 5.1 LogisticRegression

In [0]:
# Logistic Regression

from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.evaluation import BinaryClassificationEvaluator 

lr = LogisticRegression(maxIter=10, regParam=0.3, elasticNetParam=0.8)

# Fit the model
lrModel = lr.fit(train)


# We can also use the multinomial family for binary classification
mlr = LogisticRegression(maxIter=10,
                         regParam=0.3,
                         elasticNetParam=0.8, 
                         family="multinomial")

# Fit the model
mlrModel = mlr.fit(train)

In [0]:
# exam the coefficients
# Print the coefficients and intercepts for logistic regression with multinomial family
print("Multinomial coefficients: " + str(mlrModel.coefficientMatrix))
print("Multinomial intercepts: " + str(mlrModel.interceptVector))

Multinomial coefficients: 4 X 4 CSCMatrix
(0,1) -3.3467
Multinomial intercepts: [1.8584058718122476,-0.29277621249950403,-0.4539798385650064,-1.111649820747737]

### 5.2 Decision tree

In [0]:
# Decision tree

from pyspark.ml import Pipeline
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.feature import StringIndexer, VectorIndexer
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

# Train a DecisionTree model.
dt = DecisionTreeClassifier(labelCol="label", 
                            featuresCol="features")


# Train model.  This also runs the indexers.
model = dt.fit(train)

# Make predictions.
predictions = model.transform(test)

# Select example rows to display.
predictions.select("prediction", "label", "features").show(5)

# Select (prediction, true label) and compute test error
evaluator = MulticlassClassificationEvaluator(
    labelCol="label", predictionCol="prediction", metricName="accuracy")
accuracy = evaluator.evaluate(predictions)
print("Test Error = %g " % (1.0 - accuracy))

+----------+-----+--------------------+
|prediction|label|            features|
+----------+-----+--------------------+
|       0.0|  0.0|[0.0,0.0777958228...|
|       0.0|  0.0|[0.0,0.0789883135...|
|       2.0|  2.0|[0.0,0.0846668408...|
|       0.0|  0.0|[0.01298701298701...|
|       0.0|  0.0|[0.01298701298701...|
+----------+-----+--------------------+
only showing top 5 rows

Test Error = 0.115868

### 5.3 NaiveBayes

In [0]:
from pyspark.ml.classification import NaiveBayes
from pyspark.ml.evaluation import MulticlassClassificationEvaluator


# create the trainer and set its parameters
nb = NaiveBayes(smoothing=1.0, modelType="multinomial")

# train the model
model = nb.fit(train)

# select example rows to display.
predictions = model.transform(test)
predictions.show()

# compute accuracy on the test set
evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction",
                                              metricName="accuracy")
accuracy = evaluator.evaluate(predictions)
print("Test set accuracy = " + str(accuracy))

+--------------------+-----+--------------------+--------------------+----------+
|            features|label|       rawPrediction|         probability|prediction|
+--------------------+-----+--------------------+--------------------+----------+
|[0.0,0.0777958228...|  0.0|[-0.4026581009425...|[0.75514649558636...|       0.0|
|[0.0,0.0789883135...|  0.0|[-0.4043642558999...|[0.75526616923914...|       0.0|
|[0.0,0.0846668408...|  2.0|[-1.3648044693040...|[0.58428306177620...|       0.0|
|[0.01298701298701...|  0.0|[-0.4115222093901...|[0.75684612238886...|       0.0|
|[0.01298701298701...|  0.0|[-0.4122209204679...|[0.75689490078114...|       0.0|
|[0.01298701298701...|  0.0|[-0.4125784005542...|[0.75691985456091...|       0.0|
|[0.02597402597402...|  0.0|[-0.4109780919298...|[0.75788310163379...|       0.0|
|[0.02597402597402...|  0.0|[-0.4118555430507...|[0.75794417488597...|       0.0|
|[0.02597402597402...|  0.0|[-0.4122292722319...|[0.75797018433582...|       0.0|
|[0.02597402597402...|  0.0|[-0.4166165278366...|[0.75827536828657...|       0.0|
|[0.02597402597402...|  0.0|[-0.4546556588392...|[0.76091026137691...|       0.0|
|[0.03896103896103...|  0.0|[-0.4153087029191...|[0.75925499462749...|       0.0|
|[0.03896103896103...|  0.0|[-0.4191597383944...|[0.75952189889337...|       0.0|
|[0.03896103896103...|  0.0|[-0.4337514255539...|[0.76053134424912...|       0.0|
|[0.03896103896103...|  0.0|[-0.4537378121977...|[0.76190920478302...|       0.0|
|[0.03896103896103...|  2.0|[-2.3340911713411...|[0.40821075195877...|       0.0|
|[0.05194805194805...|  0.0|[-0.4168932168818...|[0.76043160207860...|       0.0|
|[0.05194805194805...|  0.0|[-0.4179169098563...|[0.76050232816888...|       0.0|
|[0.05194805194805...|  0.0|[-0.4187293645979...|[0.76055844965455...|       0.0|
|[0.05194805194805...|  0.0|[-0.4257977208500...|[0.76104632070959...|       0.0|
+--------------------+-----+--------------------+--------------------+----------+
only showing top 20 rows

Test set accuracy = 0.7889221556886228